.App {
  text-align: center;
}


/* =========Card section========== */
#card-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin:3rem;

}

.card{
  width: 18rem;
  margin: 1rem;

}
.card-img{
height: 300px;
}

/* =========Movie Detail section======== */
.mb-3 {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  width: 540px;
  margin: auto;
  margin-top:13rem;
  width: 60%;
  padding: 10px;
}
.det-img{
  height: 550px;
  width: 500px;
}
.accordion-body{
  line-height: 25px;
}






